# Node
node_modules/
npm-debug.log*

# env
.env
.env.*
!.env.example

# build / output
dist/
build/
coverage/

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# system
.DS_Store
Thumbs.db

# logs
*.log

# misc
/coverage
/.nyc_output
